<ion-header>
  <ion-toolbar>
    <ion-title>Skeleton APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ usuario }}</h2>

  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button>Modificar Datos</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-content>
